/* CSS declarations go here */
#post-list .post {
    display: block;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

#post-list .post .display {
    margin-left: 30px;
    height: 100%;
    width: auto;
    float: left;
    padding-top: 18px;
    line-height: 1;
}

#post-list .post .post-text {
    float: left;
    margin-left: 10px;
    font-size: 100%;
}

#post-list .post .post-img {
    float: left;
    margin-left: 10px;
    font-size: 100%;
}

#lists .selected {
    padding: 2px 6px;
    background: #9be;
    font-weight: bold;
}

#lists .list-name {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

canvas {border: 2px dotted blue;}
